@tailwind base;
@tailwind components;
@tailwind utilities;
@layout components{
  .btn-primary{
    @apply bg-btn px-2 py-1
  }
  .btn-secondary{
    @apply bg-btnsecondary px-2 py-1
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
